{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <!--NavBar-->
    {% include 'partials/navbar.html' %}
      <!--Carousel-->
      {% include 'partials/carousel.html' %}
      <!--carrosel de vendas-->
      <div class="container-md" style="padding-top: 40px; border-top: 40px;">
      <h1>Novidades</h1>
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/7.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roupa </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti qui enim soluta adipisci quae atque</p>
                      <a href="#" class="btn btn-primary">Compre</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar</button>
    </form>
    </div>


    <div class="container-md" style="padding-top: 40px; border-top: 40px;">
      <h1>Mais Vendidos</h1>
      <div id="carouselExampleDark1" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/7.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/img/3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


      
      <!--Depoimentos-->
      <!--Equipe-->
      <!--Feedback/Contatos-->
    </main>
    <!--Footer-->
    {% include 'partials/footer.html' %}
{% endblock %}